/* QuizResult.css */
.result-container {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This ensures the container takes the full height of the viewport */
}

.result-content {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

/* Center the results within the result-content div */
p {
  margin: 8px 0;
}

/* Style the heading */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style the total score */
.total-score {
  font-size: 20px;
  font-weight: bold;
  color: #007bff; /* Blue color for the score */
}
